name: Validation

on:
  pull_request:
    branches: [develop, master]
  pull_request_target:
    branches: [develop]
  workflow_dispatch:

concurrency:
  group: "${{ github.workflow }}-${{ github.head_ref }}"
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    env:
      test_secret: ${{ secrets.TEST_SECRET }}
    runs-on: ubuntu-latest

    steps:
    - name: Test
      run: |
        echo Hello there! $test_secret
